<div class="container">
    <div class="main-menu">
            <nav class=" nav">
                    <ul>
                        <li>
                            <a routerLink="job" routerLinkActive="selected">Create Job</a>
                        </li>
                        <li>
                            <a routerLink="about" routerLinkActive="selected">Submit Profile</a>
                        </li>
                       <!-- <li>
                            <a routerLink="contact" routerLinkActive="selected">ContactUs</a>
                        </li>
                        <li>
                            <a routerLink="directive" routerLinkActive="selected">Directive</a>
                        </li>
                        <li>
                            <a routerLink="pipe" routerLinkActive="selected">Pipe</a>
                        </li>
                        <li>
                            <a routerLink="service" routerLinkActive="selected">Service</a>
                        </li>
                        <li>
                            <a routerLink="department" routerLinkActive="selected">Department</a>
                        </li>-->
                    </ul>
                </nav>
    </div>  
    
    <br>
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>